button {
  background-color: var(--color-s);
  border: 0.2rem solid var(--color-f);
  border-radius: 0.62rem;
  cursor: pointer;
  font-weight: 600;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
  transition: filter 250ms ease-in;
}

button:hover,
button:focus {
  filter: brightness(1.1) saturate(0.7);
}

button:active {
  filter: brightness(0.9);
}
