---

---

<span>র‍্যাপিড মুভারস</span>

<style is:global>
  body {
    font-family: 'Noto Sans Bengali', 'Siyam Rupali',
      'Vrinda', 'Noto Color Emoji';
  }

  .eng {
    font-family: 'Albert Sans', ui-sans-serif, system-ui,
      sans-serif, 'Noto Color Emoji';
  }
</style>
