---
import CTA from './CTA.astro'
---

<div class='padding-right'>
  <h1>আমরা মালামাল মুভ করি</h1>
  <p class='sub-heading'>
    আমাদের বড়ো টিম, বড়ো আত্মা আর ❤️ এর সাথে আপনার <span
      class='color-p bold'>মালামাল</span
    > মুভ করবে
  </p>
  <CTA lang='bn' />
</div>

<style>
  h2 {
    max-width: 40ch;
    margin-block-end: 2.62rem;
  }

  p.sub-heading {
    color: gray;
    font-size: 1.62rem;
    max-width: 40ch;
    margin-block-end: 2.62rem;
  }
</style>
