---

---

<div class='padding-right'>
  <h1>Move your items with us</h1>
  <h2>
    We are a great team to move and maintain your <span
      class='color-p bold'>items</span
    > with great passion and ❤️
  </h2>
  <div id='cta'>
    <a
      href='https://wa.me/+8801600317576'
      target='_blank'
    >
      <button>
        <img
          src='whatsapp.png'
          alt='WhatsApp icon'
          width='42'
          height='42'
        />
        <span>Contact on WhatsApp</span>
      </button>
    </a>
    <a href='#calculate'>
      <div id='estimate'>Estimate calculator</div>
    </a>
  </div>
</div>

<style>
  h2 {
    max-width: 40ch;
    margin-block-end: 2.62rem;
  }

  button {
    align-items: center;
    background-color: #25d366;
    border-radius: 16rem;
    display: inline-flex;
    gap: 0.62rem;
    padding-inline: 2rem;
    transition-duration: 100ms;
  }

  button > img {
    margin-block-end: 0.2rem;
  }

  #cta {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  #estimate {
    font-weight: 600;
    text-decoration: underline;
  }

  #estimate:hover,
  #estimate:focus {
    color: gray;
  }
</style>
