---
// local imports
import Logo from '@/components/react/Logo'

// props
const { lang } = Astro.props as { lang: 'en' | 'bn' }
---

<!-- Front Website Footer -->
<footer class='bg-foreground pe-2 ps-2 py-8'>
  <div class='max-w-screen-2xl me-auto ms-auto'>
    <a
      class='flex flex-col gap-4 items-center sm:w-min'
      href='/'
    >
      <Logo side={10} />
      <p
        class={`${
          lang === 'en' ? 'font-display ' : ''
        }text-background text-center text-4xl`}
      >
        Rapid Movers
      </p>
    </a>
  </div>
</footer>
