---
// local imports
import { Button } from '@/components/ui/button'
import FrontWebLayout from '@/layouts/FrontWebLayout.astro'
---

<FrontWebLayout lang='en'>
  <p>Rapid Movers Homepage</p>
  <Button>Rapid</Button>
</FrontWebLayout>
