---
import Header from '../components/astro/Header.astro'
import RootLayout from './RootLayout.astro'

const { lang, pageTitle } = Astro.props as {
  lang: keyof typeof pageTitles
  pageTitle?: string
}

export const pageTitles = {
  bn: `র‍্যাপিড মুভারস - ${
    Astro.params?.pageTitle
      ? pageTitle
      : 'আপনার মালামাল মুভ করুন'
  }`,
  en: `Rapid Movers - ${
    Astro.params?.pageTitle ? pageTitle : 'Move your items'
  }`
}

const title = pageTitles[lang]
---

<RootLayout
  lang={lang}
  pageTitle={title}
>
  <Header lang={lang} />
  <main>
    <slot />
  </main>
</RootLayout>

<style>
  main {
    margin-inline: auto;
    max-width: 97rem;
    padding: 0.5rem;
  }
</style>
