---
// local imports
import FrontWebHeader from '@/components/react/FrontWebHeader'
import FrontWebFooter from '@/components/react/FrontWebFooter'
import RootLayout from '@/layouts/RootLayout.astro'

// props
const { lang } = Astro.props as { lang: 'bn' | 'en' }
---

<RootLayout lang={lang}>
  <FrontWebHeader lang={lang} />
  <main class='max-w-screen-2xl me-auto ms-auto'>
    <slot />
  </main>
  <FrontWebFooter lang={lang} />
</RootLayout>
